/* Общие стили для header */
/* Общие стили для header */
.header-container, .footer-container {
    display: flex;
    flex-direction: column; /* По умолчанию вертикальный макет */
    background-color: #074207;
    padding: 20px;
}

.header-content, .footer-content {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    width: 100%;
}

.logo-wrapper {

    max-width: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Распределяем элементы по краям */
}


.logo img {
    width: 200px;
    height: 200px;
    object-fit: contain; /* изображение сохранит пропорции */
}

.title-container {
    margin-left: 10px; /* Отступ от логотипа */
}

.title-container h1 {
    color: #000000;
    margin: 0;
}

.main-nav {
    display: flex; /* Делаем меню flex-контейнером */
    gap: 20px; /* Отступы между пунктами меню */
    width: 100%;


}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;


}

.main-nav li {
    margin: 0;

}

.main-nav a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

@media (min-width: 768px) {
    .header-container {
        flex-direction: row; /* Горизонтальное расположение */
        align-items: center;
    }

    .header-content {
        flex-direction: row; /* Горизонтальное расположение */
    }

    .logo-wrapper {
        align-items: center;
    }

    .main-nav {
        gap: 20px;
        margin-left: auto; /* Прижать меню к правому краю */
    }

    .main-nav li {
        display: inline-block;
    }
}

/* Стили для мобильной версии */
@media (max-width: 767px) {
    .header-content {
        flex-direction: column; /* Вертикальное расположение */
    }

    .main-nav {
        flex-direction: column; /* Вертикальное расположение меню */
        width: 100%;
        margin-top: 20px; /* Отступ от заголовка */
    }

    .main-nav li {
        width: 100%;
    }
}

/* Стили для таблицы */
table {
    width: 100%; /* Ширина таблицы на всю доступную область */
    border-collapse: collapse; /* Объединение границ ячеек */
    margin-top: 20px; /* Отступ сверху */
}

table th, table td {
    padding: 10px; /* Внутренние отступы ячеек */
    border: 1px solid #000000; /* Граница черного цвета */
}

/* Стили для объединенных ячеек */
th[colspan], td[colspan] {
    background-color: #074207; /* Фон для объединенных по горизонтали */
    font-weight: bold; /* Жирный шрифт */
}

th[rowspan], td[rowspan] {
    vertical-align: top; /* Выравнивание по верху */
    background-color: #000000; /* Черный фон */
}

/* Стили для строк таблицы */
table tbody tr:nth-child(even) {
    background-color: #1c4e0f; /* Цвет для четных строк */
}

table tbody tr:nth-child(odd) {
    background-color: #201c1c; /* Цвет для нечетных строк */
    color: #fff; /* Белый цвет текста */
}

/* Стили для заголовка таблицы */
table thead {
    background-color: transparent; /* Прозрачный фон */
    color: #ffffff; /* Белый цвет текста */
}

table thead th {
    background-color: transparent; /* Дополнительный прозрачный фон */
    padding: 10px; /* Внутренние отступы */
    border: 1px solid #000000; /* Граница черного цвета */
}


/* Адаптивные стили */
@media (min-width: 768px) {
    .content-container {
        display: flex;
        flex-direction: column;
    }

    .links-wrapper {
        order: 1; /* Список первым */
    }

    .table-wrapper {
        order: 2; /* Таблица второй */
    }

    .form-wrapper {
        order: 3; /* Форма последней */
    }

}

@@media (max-width: 767px) {
    .content-container {
        display: flex;
        flex-direction: column;
    }

    .table-wrapper {
        order: 1; /* Таблица первой */
    }

    .links-wrapper {
        order: 2; /* Список вторым */
    }

    .form-wrapper {
        order: 3; /* Форма последней */
    }

}

@media (min-width: 768px) {
    .main-nav ul {
        margin-left: auto;
    }

    .footer-container {
        text-align: left;
    }
}

